body {
	background-color:#f1f5f1;
}

div#wrap {
	width:80%;
	margin:0 auto;
	position:relative;
	top: 10%;
}

h1 {
	border-bottom: 0.15em solid black;
	display:inline-block;
	span {
		color:#E54028;
	}
}
img {
	display:block;
	margin:0 auto;
	margin-bottom:5em;
}